@keyframes example {
  0% { height: 0; }
  25% { height: 25%; }
  50% { height: 50%; }
  100% { height: 100%; }
}

.data-1, .data-2, .data-3, .data-4{
	width:150px;
	margin: 0 10px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 45px 45px 0;
	background: #e3e4e5;
	position:relative;
}

.qvplaceholder, .qvobject {
	flex: 1 1 auto;
	height: 400px;
	min-width: 400px;
	margin: 45px 0 0 45px;
}

.big-wrap{
	display: flex;
}

.break-line{
	border-right: 3px solid white;
}

.app-title{
	position: absolute;
    font-size: 15px;
    font-weight: bold;
    top: 14px;
    left: 46px;
}

.object {
	flex: 2 1 auto;
	height: 400px;
	min-width: 400px;
	margin: 30px 0 0 30px;
}

.object2{
	flex: 1 1 auto;
	height: 400px;
	min-width: 200px;
	margin: 30px 0 0 30px;
}

.header-row{
	height: 70px;
    background: rgb(70, 139, 176);
    color: rgb(255, 255, 255);
    line-height: 70px;
    font-size: 33px;
    font-family: Arial;
    text-align: center;
	border-bottom: 2px solid white;
}

.sections{
	height: 35px;
    background: #468bb0;
    color: white;
    line-height: 35px;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.content{
	font-family: Arial;
	display: none;
}

.show-section{
	display: inline;
}

.row{
  	display: flex;
	line-height:28px;
	padding: 10px 20px;
}

.app-id, .created-app, .app-id-session {
	width: 300px;
	margin: 0 30px 0 5px;
}

.object-id-1, .object-id-2 {
	width: 150px;
	margin: 0 30px 0 5px;
}

.script{
	margin: 0px 30px 0px 11px;
    min-height: 189px;
	width:600px;
}

.bold{
	font-weight:bold;
	padding-right: 6px;
}

.result{
	background: #e3e4e5;
}

.text1{
	padding-left: 15px;
}

.msg-success{
	color: green;
	display:none;
}

.msg-fail{
	color: red;
	display:none;
}

.msg-success-2{
	color: green;
	display:none;
	padding-left:15px;
}

.msg-fail-2{
	color: red;
	display:none;
	padding-left:15px;
}

.show{
	display: inline;
}

.buttons-wrapper{
    display: flex;
    justify-content: center;
}

.buttons-wrapper button{
	margin-right: 15px;
}

.app-wrapper{
	flex: 1 1 auto;
}

#popup {
	background-color: #c3534b;
	color: #FFFFFF;
	position: fixed;
	max-width: 250px;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
	z-index: 6;
	font-family: sans-serif;
}

.close {
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	position: absolute;
	right: 9px;
	top: 7px;
}

.close:hover {
	opacity: .5;
}

#popupText {
	margin-right: 23px;
}
